<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>1교시</h1>
	<hr>

<form action="exam4" method="post">
    <div>
        <p>4. 우리반에서 가장 어린 사람은 몇살인가요?</p>
        <input type="radio" name="useranswer" value="23살" id="q4_option1">
        <label for="q4_option1">23살</label><br />
        <input type="radio" name="useranswer" value="24살" id="q4_option2">
        <label for="q4_option2">24살</label><br />
        <input type="radio" name="useranswer" value="25살" id="q4_option3">
        <label for="q4_option3">25살</label><br />
        <input type="radio" name="useranswer" value="26살" id="q4_option4">
        <label for="q4_option4">26살</label>
    </div><br />
    <input type="submit" value="제출하기">
</form>


</body>
</html>