<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>1교시</h1>
	<hr>

<form action="question2" method="post">
    <div>
    	<input type="text" name="username" value="${username}" readonly>
    	<input type="text" name="questionno" value="2">
        <p>2. 우리반의 총원은 몇명인가요?</p>
        <input type="radio" name="useranswer" value="20명" id="q2_option1">
        <label for="q2_option1">20명</label><br />
        <input type="radio" name="useranswer" value="18명" id="q2_option2">
        <label for="q2_option2">18명</label><br />
        <input type="radio" name="useranswer" value="19명" id="q2_option3">
        <label for="q2_option3">19명</label><br />
        <input type="radio" name="useranswer" value="17명" id="q2_option4">
        <label for="q2_option4">17명</label>
        <input type="text" name="score" value="20">
    </div><br />
    <input type="submit" value="제출하기">
</form>
</body>
</html>