<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>1교시</h1>
	<hr>

<form action="question5" method="post">
    <div>
    	<input type="text" name="username" value="${username}" readonly>
    	<input type="text" name="questionno" value="5">
        <p>5. 우리반에서 가장 나이가 많은 사람은 몇살인가요?</p>
        <input type="radio" name="useranswer" value="33살" id="q5_option1">
        <label for="q5_option1">33살</label><br />
        <input type="radio" name="useranswer" value="32살" id="q5_option2">
        <label for="q5_option2">32살</label><br />
        <input type="radio" name="useranswer" value="31살" id="q5_option3">
        <label for="q5_option3">31살</label><br />
        <input type="radio" name="useranswer" value="50살" id="q5_option4">
        <label for="q5_option4">50살</label>
        <input type="text" name="score" value="20">
    </div><br />
    <input type="submit" value="제출하기">
</form>
</body>
</html>