<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Regist Form</h1>
<hr>
<form action="/registProc" method="post">
	<input type="hidden" name="_csrf" th:value="${_csrf.token}"><br/>
	<input type="text" name="username" placeholder="Input username...."><br/>
	<input type="password" name="password" placeholder="Input password...."><br/>
	<input type="text" name="name" placeholder="Input name...."><br/>
	<input type="text" name="phone" placeholder="Input phone...."><br/>
	<input type="text" name="address" placeholder="Input address...."><br/>
	<input type="text" name="age" placeholder="Input age...."><br/>
	<input type="submit" value="회원가입"><br/>
</form>
</body>
</html>